.bandeira{
    background-color: rgb(255, 253, 253);
    width: 400px;
    height: 300px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.circulo{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: red;
   
    
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    

}